.sliderbottom {
    width: 100%;
    padding:40px ;
    box-sizing: border-box;
    /* background-color: #2b2b2b; */
}

.sliderbottom .center {
    width: 1150px;
    padding:20px ;
    box-sizing: border-box;
    /* background-color: #2b2b2b; */
    margin: 0 auto;
    border-radius: 30px;
}

.sliderbottom .center .right {
    width: 377px;
    height: 380px;
/* background-color: blue; */
display: inline-block;
border-radius:30px;
vertical-align: top;
}
.sliderbottom .center .right img {
 border-radius: 30px;
}

.sliderbottom .center .left {
    width: 700px;
    height: 380px;
/* background-color: lightskyblue; */
display: inline-block;
margin-right: 20px;
border-radius: 30px;
}

.sliderbottom .center .left img {
    width: 100%;
    height: inherit;
    border-radius: 30px;
    object-fit: fill;
    object-position: center;

}